.password-recovery__wrapper {
  padding: 0 15px;
}

.password-recovery__container {
  max-width: 350px;
  margin: 20px auto 20px;
}

.password-recovery__container .help-message-input {
  margin: 10px;
}