.github-profile__link {
  text-align: left;
  margin-left: 5%;
  text-decoration: underline;
  color: #0072bc;
}

.github-profile__link:hover {
  cursor: pointer;
}

.profile-settings__wrap {
  padding: 0 15px;
}

.profile-settings__wrap .dividing-line {
  margin: 10px auto 20px;
  max-width: 550px;
}

.profile-settings__help-message,
.profile-settings__help-message__password {
  margin: -10px auto 10px;
}

.profile-settings__help-message__vk-uri {
  margin-top: 10px;
  margin-bottom: -10px;
}

.profile-settings__input-heading {
  width: 90%;
  height: 30px;
  line-height: 30px;
  max-width: 450px;
  margin: 0 auto 5px;
  font-size: 1.1em;
}

.profile-settings__input,
.adding-project__select,
.adding-project__textarea,
.adding-project__type,
.admin-notification__textarea {
  display: block;
  box-sizing: border-box;
  outline: none;
  border: 0;
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  font-size: 1em;
  font-family: "PT Sans", sans-serif;
}

.profile-settings__input,
.adding-project__select {
  padding: 0 10px;
  height: 35px;
}

.profile-settings__switcher_label {
  float: left;
  width: 50%;
}

.profile-settings__switcher_input {
  display: none;
}

.profile-settings__avatar-wrapper {
  width: 100%;
  text-align: center;
}

.profile-settings__avatar-img,
.adding-project__avatar-img {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background-color: white;
  max-width: 400px;
  width: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.profile-settings__avatar-img {
  background-size: cover;
}

.profile-settings__avatar-img:before,
.adding-project__avatar-img:before {
  content: "";
  padding-top: 100%;
  float: left;
}

.profile-settings__button,
.profile-settings__submit {
  display: inline-block;
  background-color: #202d3a;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Cuprum", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.profile-settings__button {
  border-radius: 5px;
  font-size: 1.2em;
  padding: 5px 10px;
  margin: 15px 20px;
}

.profile-settings__switcher {
  background-color: white;
  padding: 4px;
  border-radius: 2px;
  vertical-align: -moz-middle-with-baseline;
  vertical-align: -webkit-baseline-middle;
}

.profile-settings__switcher_label {
  float: left;
  width: 50%;
  color: black;
  text-align: center;
  cursor: pointer;
  height: 96%;
}

.profile-settings__switcher_input {
  display: none;
}

.profile-settings__switcher_input:checked + .profile-settings__switcher_label {
  font-weight: 500;
  color: white;
  background: #202d3a;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  border-radius: 2px;
}

.profile-settings__submit {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 1.2em;
}

.profile-settings__submit:disabled {
  background: #f1f1f1;
  border: 1px solid #808080;
  color: #808080;
}

.profile-settings__submit-wrapper,
.adding-project__submit-wrapper {
  width: 100%;
  text-align: center;
}

.profile-settings__submit-wrapper,
.adding-project__submit-wrapper {
  margin: 10px auto 30px;
}

.profile-settings__button:hover,
.profile-settings__submit:hover {
  cursor: pointer;
  background-color: #1e88e5;
}

.profile-settings__submit:disabled:hover {
  cursor: default;
  background: none;
  border: 1px solid #808080;
  color: #808080;
}

.profile-settings__bottom-part {
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
}

.profile-settings__bottom-part__heading {
  font-size: 1.1em;
  margin: 0 auto 10px;
  text-align: left;
}

.profile-settings__checkbox-label {
  display: block;
  font-size: 1.1em;
}

.profile-settings__notification {
  display: inline-block;
  padding: 10px;
  margin: 4px;
  vertical-align: middle;
  border: 1px solid #ffffff;
  background-color: #717171;
  color: white;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
}

.profile-settings__notification--activated,
.adding-project__categories__item--activated {
  background-color: #2980b9 !important;
}

.profile-settings__notification__text {
  vertical-align: middle;
}
