<header>
  <a ui-sref="index"><div class="header__site-logo"></div></a>
  <span class="header__reg-or-login">
    <a class="reg-or-login__reg" ui-sref="signup">Стать разработчиком</a>
    или <a class="reg-or-login__login" ui-sref="login">Войти</a>
  </span>
  <div class="header__nav-toggle" ng-click="activeToggle()"
       ng-class="{'header__nav-toggle--active': opened}">
    <div class="nav-toggle__burger"></div>
  </div>
  <nav class="header__nav-full">
    <a class="nav-full__item" ui-sref="order">Заказать</a>
    <a class="nav-full__item" ui-sref="projects.index">Проекты</a>
    <a class="nav-full__item" ui-sref="developers.index">Разработчики</a>
    <a class="nav-full__item" href="">Блог</a>
    <a class="nav-full__item" ui-sref="about">О нас</a>
    <a class="nav-full__item" ui-sref="contact">Связаться</a>
  </nav>
</header>
<nav class="nav-mobile" ng-show="opened">
  <a class="nav-mobile__item" ui-sref="login">Войти</a>
  <a class="nav-mobile__item" ui-sref="signup">Стать разработчиком</a>
  <a class="nav-mobile__item" ui-sref="order">Сделать заказ</a>
  <a class="nav-mobile__item" ui-sref="projects.index">Наши проекты</a>
  <a class="nav-mobile__item" ui-sref="developers.index">Разработчики</a>
  <a class="nav-mobile__item" href="">Блог</a>
  <a class="nav-mobile__item" ui-sref="about">О нас</a>
  <a class="nav-mobile__item" ui-sref="contact">Связаться</a>
</nav>