<a ng-repeat="randomProject in randomProjects" class="projects-section__link-to-project"
   ng-href="projects/{{randomProject.ProjectId}}">
  <div class="projects-section__project">
    <div
      style="background: #000 url({{randomProject.PhotoUri || DEFAULT_PROJECT_LANDSCAPE}}) no-repeat center; background-size: cover;"
      class="project__background"></div>
    <div class="project__info-container">
      <div class="project__name" ng-bind="randomProject.Name"></div>
    </div>
  </div>
</a>