<div class="developer-page">
  <div class="developer-photo" style="
  background: url(/app/imgs/ava-test.jpg) no-repeat center; background-size: contain;"></div>
  <div class="developer-name">Маргелов Виталий</div>
  <div class="developer-role">Разработчик</div>
  <div class="dividing-line"></div>
  <div class="developer-info">
    <div class="developer-info__item">
      <div class="developer-info__item-name">Инстиутут</div>
      <div class="developer-info__item-text">Итасу</div>
    </div>
    <div class="developer-info__item">
      <div class="developer-info__item-name">Кафедра</div>
      <div class="developer-info__item-text">ТОТП</div>
    </div>
    <div class="developer-info__item">
      <div class="developer-info__item-name">Специальность</div>
      <div class="developer-info__item-text">Инженер</div>
    </div>
    <div class="developer-info__item">
      <div class="developer-info__item-name">Курс</div>
      <div class="developer-info__item-text">4</div>
    </div>
    <div class="developer-info__item">
      <div class="developer-info__item-name">Дата регистрации</div>
      <div class="developer-info__item-text">09.02.2016</div>
    </div>
    <div class="developer-info__item">
      <div class="developer-info__item-name">Профиль Вконтакте</div>
      <div class="developer-info__item-text"><a style="text-decoration: underline;
    color: #0072bc;" href="http://vk.com/sovent">vk.com/sovent</a></div>
    </div>
    <div class="developer-info__item">
      <div class="developer-info__item-name">E-mail</div>
      <div class="developer-info__item-text">sovent@mail.ru</div>
    </div>
    <div class="developer-info__item">
      <div class="developer-info__item-name">Номер телефона</div>
      <div class="developer-info__item-text">89038657432</div>
    </div>
  </div>
  <div class="dividing-line"></div>
  <h1 class="developer-page__headline headline">Портфолио</h1>
</div>