<div class="profile-settings__wrap">
  <h1 class="profile-settings__heading headline">Редактирование профиля</h1>

  <div class="dividing-line"></div>

  <form class="" name="profileSettings">

    <div class="profile-settings__top-part">

      <div class="profile-settings__avatar-wrapper">
        <div class="profile-settings__avatar-img"></div>
        <div class="profile-settings__button">Загрузить фото</div>
      </div>
      <div class="profile-settings__top-part__inputs">
        <div class="profile-settings__input-heading">Институт:</div>
        <input type="text" class="profile-settings__input validate-field" ng-bind="profile.InstituteNname"
               ng-model="profile.InstituteName" required/>
        <br/>

        <div class="profile-settings__input-heading">Кафедра:</div>
        <input type="text" class="profile-settings__input validate-field" ng-bind="profile.StudyingDirection"
               ng-model="profile.StudyingDirection" required/>
        <br/>

        <div class="profile-settings__input-heading">Специальность:</div>
        <input type="text" class="profile-settings__input validate-field" ng-bind="profile.Specialization"
               ng-model="profile.Specialization" required/>
        <br/>

        <div class="profile-settings__input-heading">Год поступления:</div>
        <input type="text" class="profile-settings__input validate-field" ng-bind="profile.StudentAccessionYear"
               ng-model="profile.PhoneNumber" pattern="[1-9]\d*" ng-minlength="4" ng-maxlength="4" required/>
        <br/>

        <div class="profile-settings__input-heading">Профиль ВКонтакте:</div>
        <input type="url" name="vkUrl" class="profile-settings__input validate-field" ng-bind="profile.VkProfileUri"
               ng-model="profile.VkProfileUri" required/>

        <div class="help-message-input" name="vkUri" ng-show="profileSettings.vkUri.$error.url">Введите адрес в формате
          http://vk.com/[username].
        </div>

        <br/>

        <div class="profile-settings__input-heading">Номер телефона:</div>
        <input type="text" class="profile-settings__input validate-field"
               ng-bind="profile.PhoneNumber" ng-model="profile.PhoneNumber" required/>
        <br/>
      </div>
    </div>

    <h1 class="profile-settings__heading headline">Изменение пароля</h1>

    <div class="dividing-line"></div>
    <div class="profile-settings__middle-part__wrapper">
      <div class="profile-settings__middle-part">
        <div class="profile-settings__input-heading">Новый пароль:</div>
        <input type="password" name="password" class="profile-settings__input validate-field"
               pattern="^(?=^.{8,30}$)[a-zA-Z0-9]+$"
               ng-minlength="8" ng-maxlength="30" ng-model="newPassword" required/>
        <br/>

        <div class="help-message-input" ng-show="profileSettings.password.$error.pattern">Пароль должен быть длинной не
          менее 8 символов и содержать латинские буквы или цифры.
        </div>

        <div class="profile-settings__input-heading">Повторите пароль:</div>
        <input type="password" name="repeatedPassword" class="profile-settings__input validate-field"
               pattern="^(?=^.{8,30}$)[a-zA-Z0-9]+$"
               ng-minlength="8" ng-maxlength="30" ng-change="compareProfile(password, repeatedPassword)" required/>
        <br/>

        <div class="help-message-input" ng-if="repeatedPassword !== password">Пароли не совпадают.</div>

      </div>

      <div class="profile-settings__support-div"></div>

    </div>

    <h1 class="profile-settings__heading headline">Настройка оповещений</h1>

    <div class="dividing-line"></div>

    <div class="profile-settings__bottom-part" ng-switch="notification">

      <div class="profile-settings__bottom-part__heading">Посылать на почту оповещения:</div>

      <label class="profile-settings__checkbox-label" ng-switch-when="notification[1] == 1"><input type="checkbox" ng-click="" required/>От
        администрации</label>
      <label class="profile-settings__checkbox-label"><input type="checkbox" ng-click="" required/>От
        администрации</label>
      <br/>

      <label class="profile-settings__checkbox-label"><input type="checkbox" ng-model="" required/>О появлении
        новых задач на проектах</label>
      <br/>

      <label class="profile-settings__checkbox-label"><input type="checkbox" ng-model="" required/>О
        появлении/уходе разработчика на проекте</label>
      <br/>

      <label class="profile-settings__checkbox-label"> <input type="checkbox" ng-model="" required/>О
        подтвержденной регистрации нового разработчика</label>
      <br/>

    </div>

    <div class="profile-settings__submit-wrapper">
      <div class="profile-settings__submit">Сохранить</div>
    </div>

  </form>


  <div style="margin: 0 auto 30px auto;" ng-switch="isSuccess">
    <p class="help-message-input" ng-switch-when="true">
      Изменения успешно сохранены.
    </p>

    <p class="help-message-input" ng-switch-when="false">
      Какое-то из полей заполнено неверно.
    </p>
  </div>

  </form>
</div>