@import url(https://fonts.googleapis.com/css?family=Cuprum:400,700|PT+Sans:400,700|Noto+Serif:400,700&subset=latin,cyrillic);

/* CSS RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  vertical-align: baseline;
}

/************************
          MAIN
*************************/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

body {
  font-size: 1em;
  font-family: 'PT Sans', sans-serif;
  background-color: #f1f1f1;
  color: #202d3a;
}

.backdrop {
  position: fixed;
  display: none;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #202d3a;
}

.headline {
  display: block;
  text-align: center;
  margin: 30px 0;

  font-family: 'Noto Serif', serif;
  font-size: 1.8em;
  font-weight: bold;

  color: #202d3a;
}

.dividing-line {
  height: 1px;
  width: 100%;
  background-color: #202d3a;
  margin: 10px 0;
}

.button-style {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 15px;
  border: 2px solid #202d3a;
  width: 130px;

  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #202d3a;
}

.button-style:after {
  content: '';
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;

  background: #202d3a;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
}

.button-style--light {
  border: 2px solid #fff;
}

/************************
         HEADER
*************************/
header {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 70px;
  padding: 0 15px;
  background: #151515;
  z-index: 20;
}

.header__site-logo {
  display: inline-block;
  width: 170px;
  height: 100%;
  background: url('../imgs/logo-ver2.svg') no-repeat left;
  background-size: contain;
}

.header__reg-or-login {
  display: none;
}

.header__nav-full {
  display: none;
}

/** burger-icon **/
.header__nav-toggle {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: 30px;
  height: 22px; /* width/1.4 */
  cursor: pointer;

  opacity: 0.5;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.header__nav-toggle--active {
  opacity: 1;
}

.nav-toggle__burger {
  position: absolute;
  top: 40%;
  width: 100%;
  height: 20%;

  border-radius: 2px;
  background: #fff;
}

.nav-toggle__burger::before,
.nav-toggle__burger::after {
  position: absolute;
  content: '';
  width: inherit;
  height: 100%;
  background: inherit;
  border-radius: inherit;
}

.nav-toggle__burger::before {
  top: -200%;
}

.nav-toggle__burger:after {
  top: 200%;
}

/** end of burger-icon **/

.header__nav-full {
  display: none;
  font-family: 'Cuprum', sans-serif;
  text-transform: uppercase;
}

/* mobile navigation */
.nav-mobile {
  display: block;
  width: 100%;
  background: #ffffff;
  font-family: 'Cuprum', sans-serif;
  text-transform: uppercase;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.nav-mobile__item {
  display: block;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  color: #202d3a;
  transition: background .2s;
  cursor: pointer;
}

.nav-mobile__item:hover {
  background: #f1f1f1;
}

/************************
     WELCOME-SECTION
*************************/
.welcome-section {
  width: 100%;
  position: relative;
  background: url('../imgs/mobile-main-background.jpg') no-repeat center;
  background-size: cover;

  font-size: 1em;
}

.welcome-section-container {
  padding: 20px 15px;
  box-sizing: border-box;
}

.welcome-section__headline {
  margin: 30px 0 10px 0;
  color: #ffd200;
}

.welcome-section__paragraph {
  display: block;

  font-size: 1.1em;
  font-weight: 500;

  color: #ffffff;
}

.welcome-section__order-button {
  width: 130px;
  display: block;
  margin: 40px auto;
  color: #ffffff;
  text-align: center;
}

/************************
    PROJECTS-SECTION
*************************/
.projects-section {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  text-align: center;
}

/* categories section */
.categories {
  text-align: center;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.categories__item {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ffffff;
  background-color: #717171;
  color: white;
  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  cursor: pointer;
}

.categories__item--activated {
  background-color: #2980b9;
}

.categories__item:hover {
  border: 1px dashed white;
}

.projects-section__project {
  text-align: center;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;

  min-width: 270px;
  width: 84.375%; /* 270/320 */
  max-width: 400px;
  height: 270px;
  margin: 10px 0 10px 0;

  cursor: pointer;

  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.project__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  -webkit-transition: all .15s ease;
  -moz-transition: all .15s ease;
  -o-transition: all .15s ease;
  transition: all .15s ease;
}

.project__info-container {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
}

.project__name {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  text-align: left;
  padding: 0 10px;
  margin: 10px 0;
  z-index: 2;
  font-size: 1.5em;
  text-shadow: #000 2px 2px;
  font-family: 'Cuprum', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.project__status {
  box-sizing: border-box;
  width: 100%;
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 0 10px;
  margin: 10px 0;
  z-index: 2;
}

.status__value {
  display: inline-block;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: normal;
  background: #0288d1;
}

.projects-section__see-all-button {
  display: block;
  margin: 40px auto;
}

.projects-section__see-more-button {
  display: block;
  margin: 40px auto;
}

/************************
    DEVELOPERS-SECTION
*************************/
.developers-section {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 0;
  text-align: center;
}

.developers-section__developer {
  box-sizing: border-box;
  display: block;
  width: 240px;
  margin: 0 auto 25px auto;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;;
}

.developer__photo {
  display: inline-block;
  box-sizing: border-box;
  width: 240px;
  height: 240px;

  background-size: contain;
  border-radius: 50%;
  border: 5px solid #202d3a;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;;
}

.developer__full-name {
  display: block;
  margin: 10px 0 5px 0;
  font-size: 1.1em;
  font-weight: bold;
}

.developer__specialization {
  display: block;
  margin-bottom: 10px;
  font-size: 1.1em;
}

.developers-section__see-all-button {
  display: block;
  margin: 15px auto 30px auto;
}

.developers-section__see-more-button {
  display: block;
  margin: 40px auto;
}

/************************
         FOOTER
*************************/
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  background: #151515;
  text-align: center;
}

.footer__signature,
.footer__links,
.footer__copyright {
  display: block;
  margin: 20px 0;
  color: rgba(255, 255, 255, .5);
}

.signature__link,
.links__vk,
.links__contact-us {
  color: #fff;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

/************************
      PROJECT-PAGE
*************************/
.full-project-container {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
}

.full-project-wrapper {
  width: 100%;
  margin: 0 auto;
  box-shadow: 2px 2px rgba(0, 0, 0, .15);
  border-radius: 5px;
}

.full-project__name {
  display: block;
  margin: 15px auto;
  font-size: 1.8em;
  font-weight: bold;
  font-family: 'Cuprum', sans-serif;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 2px rgba(0, 0, 0, .1);
}

.full-project__preview {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 5px 5px 0 0;
}

.preview__project-status {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.full-project__info {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  background: #fff;
  border-top: 1px solid #f1f1f1;
  border-radius: 0 0 5px 5px;
}

.info__subheading {
  text-align: left;
  font-weight: 900;
  font-size: 1.1em;
}

.info__subheading:not(:first-of-type),
.info__links {
  margin-top: 10px;
}

.project-types__type {
  display: inline-block;
  color: white;
  background: #fbc500;
  padding: 5px 10px;
  margin: 10px 5px 0 0;
}

.info__developers > a {
  color: #1e88e5;
}

.info__developers > a:hover {
  text-decoration: underline;
}

.info__links > a {
  display: inline-block;
  color: #1e88e5;
  padding: 3px 5px;
  border-radius: 5px;
  border: solid 2px #1e88e5;
  -webkit-transition: all .15s ease-out;
  -moz-transition: all .15s ease-out;
  -o-transition: all .15s ease-out;
  transition: all .15s ease-out;
}

.info__join-button {
  text-align: center;
  display: block;
  margin: 25px auto 10px auto;
}

.full-project-issues {
  text-align: center;
}

.project-issues__issue {
  display: inline-block;
  padding: 10px;
  background: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .15);
  margin: 5px;
}

/*************************
        ABOUT
*************************/

/*about*/
-->
/*heading*/

.about-logo {
  width: 100%;
  height: 320px;
  background: url("../imgs/logo-ver1-black.svg") no-repeat center;
  background-size: contain;
  margin-bottom: -45px;
}

/*about*/
-->
/*content*/

.about-wrap-content {
  margin: 5% auto 100px;
}

.about-points {
  margin: 0 3% 5% 3%;
}

.about-numbers {
  position: relative;
  margin: 0 auto -50px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 8px solid white;
  font-size: 55px;
  font-weight: 900;
  text-align: center;
  z-index: 1;
}

.left-number {
  background-color: #ffd212;
}

.right-number {
  background-color: #0072bc;
}

.about-numbers span {
  vertical-align: middle;
  color: white;
}

.about-text {
  padding: 60px 5% 5%;
  background-color: white;
  text-align: left;
}

.about-text .heading {
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Noto Serif', serif;
  font-size: 1.5em;
  font-weight: 900;
  color: #202d3a;
}

.about-text a {
  font-weight: 900;
  color: #0072bc;
}

.about-text a:hover {
  color: #202d3a;
  text-decoration: underline;
}

.about-yandex-map {
  width: 95%;
  margin: 8% auto 0;
}

/*************************
        CONTACT
*************************/

.contact-content {
  text-align: center;
  margin-bottom: 60px;
}

.contact-heading {
  display: block;
  position: relative;
  width: 255px;
  top: 28px;
  margin: 10px auto 0;
  padding: 10px;
  font-family: 'Noto Serif', serif;
  font-size: 1.7em;
  font-weight: 900;
  border: 2px solid #202d3a;
  background-color: #f1f1f1;
}

.contact-form {
  border: 2px solid #202d3a;
  padding-top: 35px;
  min-width: 300px;
  max-width: 80%;
  margin: 0 auto;
}

.contact-form input, textarea {
  display: inline-block;
  resize: none;
  margin: 3% auto;
  padding: 0 15px;
  width: 70%;
  outline: none;
  border: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 1em;
}

.contact-form input {
  min-height: 40px;
}

.contact-form input:required:valid, textarea:valid {
  border: 1px solid #009688;
}

.contact-form .isValid:invalid {
  border: 1px solid #F44336;
}

.contact-form textarea {
  padding-top: 10px;
  height: 200px;
}

.contact-form .submit {
  display: block;
  position: relative;
  margin: 0 auto -36px;
  height: 70px;
  width: 70px;
  border: 2px solid #202d3a;
  border-radius: 50%;
  background-color: #f1f1f1;
}

.contact-form [type="submit"] {
  display: inline-block;
  position: relative;
  top: 14px;
  vertical-align: middle;
  height: 40px;
  width: 40px;
  background: url("../imgs/envelope.svg") no-repeat center;
}

/*************************
      LOGIN-WINDOW
*************************/

.login-window {
  max-width: 360px;
  width: 100%;
  padding: 8% 0 0;
  margin: auto;
}

.login-window__form {
  position: relative;
  z-index: 100;
  background: #f1f1f1;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  background: url(../imgs/close-button.svg) no-repeat center;
  background-size: contain;
  cursor: pointer;
  transition: all .2s ease-out;
}

.form__container input {
  font-family: 'PT Sans', sans-serif;
  outline: 0;
  background: #fff;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 1em;
}

.form__container button {
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #f1f1f1;
  width: 100%;
  border: 1px solid #202d3a;
  padding: 15px;
  color: #202d3a;
  font-size: 1em;
  -webkit-transition: all .15s ease-out;
  -moz-transition: all .15s ease-out;
  -o-transition: all .15s ease-out;
  transition: all .15s ease-out;
  cursor: pointer;
}

.form__container button:hover, .form button:active, .form button:focus {
  background: #0072bc;
  border: 1px solid #0072bc;
  color: #fff;
}

.form__question {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 0.8em;
}

.ngdialog-content {
  background: transparent !important;
}

.form__greeting {
  font-family: 'Noto Serif', serif;
  margin-bottom: 25px;
}

.form__become-dev {
  text-decoration: underline;
  color: #202d3a;
  display: block;
  font-size: 1.1em;
}

/*************************
      SIGNUP-PAGE
*************************/
.sign-up-container {
  box-sizing: border-box;
  padding: 0 15px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.sign-up__headline {
  font-size: 1.5em;
  text-align: center;
}

.sign-up-form {
  display: block;
  width: 100%;
}

.sign-up-form__section {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 5px 20px;
  border: 1px solid #202d3a;
  margin-bottom: 30px;
}

.section__step-number {
  display: none;
}

.sign-up-form input, select {
  font-family: 'PT Sans', sans-serif;
  font-size: 1em;
  box-sizing: border-box;
  display: block;
  width: 100%;
  min-height: 40px;
  padding: 0 15px;
  margin: 15px 0;
  border: none;
}

.sign-up-form select {
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.sign-up__button {
  max-width: 200px;
  margin: 0 auto 40px auto;
  padding: 15px 10px;

  font-family: 'PT Sans', sans-serif;
  font-size: 1em;
  text-transform: uppercase;

  background: #f1f1f1;
  border: 1px solid #202d3a;

  -webkit-transition: all .15s ease-out;
  -moz-transition: all .15s ease-out;
  -o-transition: all .15s ease-out;
  transition: all .15s ease-out;
  cursor: pointer;
}

@media only screen and (min-width: 640px) {
  /*************************
           MAIN
  *************************/
  body {
    font-size: 1.1em;
  }

  /*************************
      WELCOME-SECTION
  *************************/
  .welcome-section {
    background: url('../imgs/tablets-main-background.jpg') no-repeat center;
  }

  .welcome-section-container {
    padding: 20px 100px;
    text-align: left;
  }

  .welcome-section__headline {
    font-size: 2em;
    text-align: left;
    margin: 40px 0 20px 0;
  }

  /*************************
      PROJECTS-SECTION
  *************************/
  .projects-section__project {
    height: 400px;
    margin: 9px;
  }

  .developers-section__developer {
    display: inline-block;
    margin: 10px 20px 25px 20px;
    width: 240px;
  }

  /************************
        PROJECT-PAGE
  *************************/
  .full-project-wrapper {
    max-width: 700px;
  }

  .full-project__preview {
    height: 400px;
  }

  /*************************
            ABOUT
  *************************/
  .about-logo {
    max-width: 90%;
    background: url("../imgs/logo-ver2-black.png") no-repeat center;
    background-size: contain;
    margin: auto;
  }

  .about-numbers {
    margin-bottom: -80px;
    width: 150px;
    height: 150px;
    border-width: 10px;
    font-size: 93px;
  }

  .about-text {
    padding-top: 85px;
  }

  /*************************
          CONTACT
  *************************/
  .contact-content {
    margin-bottom: 70px;
  }

  .contact-heading {
    width: 360px;
    font-size: 2em;
  }

  .contact-form {
    width: 70%;
    max-width: 500px;
  }

  .contact-form input, textarea {
    width: 360px;
  }

  .contact-form input {
    min-height: 50px;
  }

  .contact-form .submit {
    margin-bottom: -41px;
    height: 80px;
    width: 80px;

  }

  .contact-form [type="submit"] {
    height: 45px;
    width: 45px;
  }

  /*************************
        SIGNUP-PAGE
  *************************/
  .sign-up-form__section {
    padding: 25px 40px;
  }

  .sign-up__headline {
    font-size: 1.8em;
  }
}

@media only screen and (min-width: 1024px) {
  /*************************
           MAIN
  *************************/
  .headline {
    text-align: left;
  }

  .dividing-line {
    margin: 15px auto;
  }

  .button-style:hover {
    color: #fff;
  }

  .button-style:hover:after {
    height: 260%;
    opacity: 1;
  }

  .button-style:active {
    transform: translateY(1px)
  }

  .button-style--light:hover {
    color: #202d3a;
  }

  .button-style--light:hover:after {
    background-color: #fff;
  }

  /* deactivation of mobile navigation*/
  .nav-mobile {
    display: none;
  }

  .header__nav-toggle {
    display: none;
  }

  /*************************
            HEADER
  *************************/
  header {
    height: 100px;
    background-color: rgba(21, 21, 21, 0);
  }

  .header--black header {
    background-color: rgba(21, 21, 21, 1);
  }

  .header__site-logo {
    width: 200px;
  }

  .header__reg-or-login {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 20px;
    color: rgba(255, 255, 255, 0.5);
  }

  .reg-or-login__reg,
  .reg-or-login__login {
    color: rgba(255, 255, 255, 0.71);
    margin: 0 5px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    cursor: pointer;
  }

  .reg-or-login__reg:hover,
  .reg-or-login__login:hover {
    text-decoration: underline;
    color: white;
  }

  .header__nav-full {
    display: inline-block;
    position: absolute;
    bottom: 15px;
    right: 20px;
    font-size: 1.3em;
  }

  .nav-full__item {
    position: relative;
    color: white;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }

  .nav-full__item:after {
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #ffd200;
    transition: all 0.2s ease-out;
  }

  .nav-full__item:hover {
    color: #ffd200;
  }

  .nav-full__item:hover:after {
    width: 100%;
  }

  .nav-full__item {
    margin-left: 15px;
  }

  /*************************
       WELCOME-SECTION
  *************************/
  .welcome-section {
    box-sizing: border-box;
    margin: -100px 0 0 0;
    padding: 140px 0 40px 0;
    background: url('../imgs/main-background-min1024px.jpg') no-repeat top;
    background-size: cover;
  }

  .welcome-section:after {
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.55), transparent);
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.55), transparent);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.55), transparent);
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.55), transparent);

    height: 210px;
  }

  .welcome-section:after {
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .welcome-section-container {
    max-width: 800px;
    padding: 20px 50px;
    margin: 0 auto;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
  }

  /*************************
       PROJECTS-SECTION
  *************************/
  .project__name {
    font-size: 1.7em;
  }

  .project__background {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .project__background:hover {
    -webkit-filter: none;
    filter: none;
  }

  /*************************
      DEVELOPERS-SECTION
  *************************/
  .developers-section,
  .projects-section {
    padding: 0 40px;
  }

  .developer__photo:hover {
    border-color: #2980b9;
  }

  /*************************
          FOOTER
  *************************/
  .footer__signature,
  .footer__links,
  .footer__copyright {
    display: inline-block;
  }

  .footer__signature {
    float: left;
  }

  .footer__copyright {
    float: right;
  }

  .signature__link:hover,
  .links__vk:hover,
  .links__contact-us:hover {
    text-decoration: underline;
    color: #ffd200;
  }

  /************************
        PROJECT-PAGE
  *************************/
  .full-project-container {
    padding: 20px 40px 0 40px;
  }

  .full-project-wrapper {
    position: relative;
    max-width: 1300px;
  }

  /*clearFix*/
  .full-project-wrapper:after {
    content: "";
    display: table;
    clear: both;
  }

  .full-project__preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 5px 0 0 5px;
  }

  .preview__project-status {
    position: absolute;
    left: 15px;
    top: 15px;
  }

  .full-project__info {
    float: right;
    width: 50%;
    min-height: 350px;
    border-top: none;
    border-left: 1px solid #f1f1f1;
    margin-left: 50%;
    border-radius: 0 5px 5px 0;
  }

  .full-project__name {
    font-size: 2.2em;
  }

  .info__links > a:hover {
    color: #fff;
    background-color: #1e88e5;
  }

  .full-project-issues {
    text-align: left;
  }

  .project-issues__issue {
    margin: 15px 15px 15px 0;
  }

  /*************************
            ABOUT
   *************************/
  /*about*/
--> /*heading*/
  .about-wrapper {
    width: 100%;
  }

  .about-heading {
    padding: 0 30px;
    box-sizing: border-box;
  }

  .about-logo {
    max-width: 1000px;
    margin: 3% auto 5%;
  }

  /*about*/
--> /*content*/
  .about-wrap-content {
    width: 100%;
  }

  .about-content {
    width: 1000px;
    margin: 0 auto;
  }

  .about-points {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 0 2%;
  }

  .left-text {
    order: 0;
  }

  .right-number {
    order: 1;
  }

  .about-numbers {
    display: inline-block;
    margin: 0;
    width: 200px;
    height: 200px;
    font-size: 127px;
  }

  .about-text {
    display: inline-block;
    padding: 20px;
    max-width: 65%;
    min-height: 160px;
  }

  .right-text::before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 10px;
    top: 0;
    left: 105px;
    background-color: white;
  }

  .first-text::before {
    content: '';
    display: block;
    position: absolute;
    height: 50%;
    width: 10px;
    top: 50%;
    left: 105px;
    background-color: white;
  }

  .left-text::after {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 10px;
    top: 0;
    right: 105px;
    background-color: white;
  }

  .last-text::before {
    content: '';
    display: block;
    position: absolute;
    height: 50%;
    width: 10px;
    top: 0;
    right: 105px;
    background-color: white;
  }

  .about-text .heading {
    text-align: left;
  }

  /*about*/
--> /*lines*/
  .lines {
    width: 100%;
  }

  .block-1, .block-2 {
    width: 740px;
    height: 30px;
    margin: 0 auto;
  }

  .block-1 {
    border-bottom: 10px solid white;
  }

  .line-1-2.block-1, .line-3-4.block-1 {
    border-left: 10px solid white;
  }

  .line-1-2.block-2, .line-3-4.block-2 {
    border-right: 10px solid white;
  }

  .line-2-3.block-1, .line-4-5.block-1 {
    border-right: 10px solid white;
  }

  .line-2-3.block-2, .line-4-5.block-2 {
    border-left: 10px solid white;
  }

  /* line-2-3 */
  .line-2-3.block-1 {
    height: 60px;
    margin-top: -30px;
  }

  /* line-2-3 */
  .line-4-5.block-1 {
    height: 50px;
  }

  /*************************
          CONTACT
  *************************/
  .contact-content {
    margin-bottom: 80px;
  }

  .contact-heading {
    font-size: 1.8em;
    width: 400px;
    top: 35px;
  }

  .contact-form {
    width: 25%;
    min-width: 600px;
  }

  .contact-form input, textarea {
    width: 400px;
    margin: 30px auto 0;
  }

  .contact-form .submit {
    margin: 20px auto -50px;
    height: 90px;
    width: 90px;
  }

  .contact-form [type="submit"] {
    top: -9px;
    height: 50px;
    width: 50px;
  }

  .contact-form .submit:hover {
    background-color: #ffd200;
    cursor: pointer;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .contact-form [type="submit"]:hover {
    cursor: pointer;
  }

  /*************************
          LOGIN-WINDOW
  *************************/
  .form__close-button:hover {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  /*************************
        SIGNUP-PAGE
  *************************/
  .sign-up__headline {
    font-size: 1.8em;
    text-align: center;
  }

  .sign-up__button:hover {
    background: #0072bc;
    border: 1px solid #0072bc;
    color: #fff;
  }

  .sign-up-form input, select {
    min-height: 50px;
  }

  .section__step-number {
    display: block;
    font-size: 2em;
    color: #fff;
    width: 50px;
    height: 50px;
    top: 50%;
    left: -25px;
    transform: translateY(-25px);
    background-color: #0288d1;
    font-family: 'PT Sans', sans-serif;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .section__step-number::after {
    position: absolute;
    content: '';
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 25px solid #0169A5;
    border-left: 25px solid transparent;
  }
}