<div class="adminpanel profile-settings__wrap">
  <h1 class="profile-settings__heading headline">Административная панель</h1>

  <div class="dividing-line"></div>

  <div class="adminpanel__points">
    <a class="adminpanel__point" ui-sref="adminpanel.projects">Все проекты</a>
    <a class="adminpanel__point" ui-sref="adminpanel.projectAdd" ng-click="FromAdminPanel()">Добавить проект</a>
    <a class="adminpanel__point" ui-sref="adminpanel.orders">Все заказы</a>
    <a class="adminpanel__point" ui-sref="adminpanel.notification">Рупор</a>
    <a class="adminpanel__point" ui-sref="adminpanel.developers">Разработчики</a>
  </div>
</div>