<div class="profile-settings__wrap">
  <h1 class="profile-settings__heading headline">Редактирование проекта</h1>

  <div class="dividing-line"></div>

  <form name="editProjectForm">

    <div class="profile-settings__top-part">

      <div class="profile-settings__avatar-wrapper">

        <div class="adding-project__avatar-img"
             ng-attr-style='background-image: url("{{editedProject.LandingImage.SmallPhotoUri || DEFAULT_PROJECT_LANDSCAPE}}")'
             dropzone-big-image>

          <div class="adding-project__file-close adding-project__big-image__file-close"
               ng-if="editedProject.LandingImage.SmallPhotoUri"
               ng-click="deleteBigImage()"></div>

          <div class="adding-project__uploading__bar-wrap">
            <div class="adding-project__uploading__bar" ng-if="currentUploadStateBigImage=='uploading'"
                 ng-attr-style='width: {{currentPercentBigImage}}%'></div>
          </div>

        </div>

        <div class="profile-settings__button" upload-big-image>Загрузить фото</div>
      </div>

      <div class="profile-settings__top-part__inputs">
        <div class="profile-settings__input-heading">Имя проекта:</div>
        <input type="text" class="profile-settings__input validate-field" ng-model="editedProject.Name" autofocus
               required/>
        <br/>

        <div class="profile-settings__input-heading adding-project__input-heading">Тип проекта:</div>
        <div class="adding-project__type">
          <span ng-repeat="categoryItem in categories" ng-bind="categoryItem.category"
                ng-click="toggleCategory(categoryItem)"
                ng-class="{'adding-project__categories__item--activated': categoryItem.status}"
                class="adding-project__categories__item"></span>
        </div>
        <br/>

        <div class="profile-settings__input-heading">Статус проекта:</div>
        <label><select class="adding-project__select" ng-model="editedProject.ProjectStatus" required>
          <option value='0' selected>Запланирован</option>
          <option value='1'>В процессе</option>
          <option value='2'>Заморожен</option>
          <option value='3'>Завершен</option>
        </select></label>
        <br/>

        <div class="profile-settings__input-heading">Уровень доступа:</div>
        <label><select class="adding-project__select" ng-model="editedProject.AccessLevel" required>
          <option value="0" selected>Публичный</option>
          <option value="1">Приватный</option>
        </select></label>
        <br/>

        <div class="profile-settings__input-heading adding-project__input-heading">Разработчики:</div>

        <div class="adding-developer__button-wrapper">
          <div class="adding-project__developers" ng-if="projectMemberships.length != 0">
            <div class="adding-project__developer-wrap" ng-repeat="developer in projectMemberships">
              <a class="adding-project__developer" ng-href="{{'/developers/' + (developer.UserId)}}">
                <div class="adding-project__developer-info">
                  <div ng-bind="developer.FirstName + ' ' + developer.LastName"></div>
                  <div ng-bind=" '(' + developer.Role + ')' "></div>
                </div>
              </a>
              <div class="adding-project__developer__delete" ng-click="deleteDeveloper($index)"></div>
            </div>
          </div>

          <div class="profile-settings__button adding-developer__button" ng-click="toggleOpened()">
            Добавить
          </div>
        </div>
        <br/>

        <div class="profile-settings__input-heading adding-project__input-heading">Описание проекта:</div>
        <textarea class="adding-project__textarea validate-field" ng-model="editedProject.Info" maxlength="500"
                  ng-minlength="1" required></textarea>
        <br/>


        <div class="profile-settings__input-heading adding-project__input-heading">Прикрепить фото:</div>

        <div class="adding-project__upload-box-wrap adding-project__upload-wrap">

          <div class="adding-project__upload-box adding-project__uploaded-file"
               ng-repeat="screenshot in editedProject.Screenshots">
            <div class="adding-project__uploaded-file__image-wrap"
                 ng-attr-style="background-image: url('{{screenshot.SmallPhotoUri}}')">
              <div class="adding-project__file-close" ng-click="deleteImage(screenshot, $index)"></div>
            </div>
          </div>

          <div class="adding-project__upload-box adding-project__upload-file__wrap">
            <div ng-switch="currentUploadStateImage">

              <div ng-switch-when="waiting" upload-image dropzone-image>
                <div class="adding-project__upload-file__adding">+</div>
              </div>

              <div ng-switch-when="uploading">
                <div class="adding-project__uploading-wrap">
                  <div class="adding-project__uploading-percent" ng-bind="currentPercentImage + '%'"></div>
                  <div class="adding-project__uploading__bar-wrap">
                    <div class="adding-project__uploading__bar" ng-attr-style='width: {{currentPercentImage}}%'></div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="adding-project__submit-wrapper">
      <div ng-switch="currentState">
        <p class="help-message-input" ng-switch-when="success">
          Изменения успешно сохранены.
        </p>

        <p class="help-message-input" ng-switch-when="failed">
          Ошибка!
        </p>
      </div>

      <button class="profile-settings__submit adding-project__submit" ng-disabled="editProjectForm.$invalid"
              ng-click="editProject()">
        Сохранить
      </button>
    </div>

  </form>
</div>

<div class="modal-window__wrap" ng-show="isOpen">
  <div class="modal-window">
    <div class="modal-window__developers">
      <div class="modal-window__close-button" ng-click="toggleOpened()"></div>

      <div class="modal-window__search">
        <input placeholder="Поиск" ng-model="searchText"/>

        <div class="search__icon"></div>
      </div>

      <label class="modal-window__developer" ng-repeat="developer in developers"
             ng-click="selectDeveloper($index)"
             ng-class="{'modal-window__developer--active': developer.isSelect}">
        <div ng-if="!developer.isSelect" ng-href="{{'/developers/' + developer.UserId}}"
             ng-bind="developer.FirstName + ' ' + developer.LastName"></div>

        <input class="modal-window_role" ng-if="developer.isSelect" ng-model="developer.Role"
               ng-keypress="$event.which === 13 && chooseDeveloper($index)" placeholder="Введите роль" autofocus/>

        <button class="modal-window__submit" ng-if="developer.isSelect" ng-disabled="!developer.Role" ng-click="chooseDeveloper($index)">+</button>
      </label>

      <a class="modal-window__see-more-button button-style" ng-if="isMoreDevs" ng-click="addDevelopers()">Показать больше</a>

    </div>
  </div>
</div>