<section class="projects-section">
  <h1 class="projects-section__headline headline">Проекты</h1>
  <div class="dividing-line"></div>
  <div class="categories">
    <span class="categories__item categories__web">Веб</span>
    <span class="categories__item categories__game">Игра</span>
    <span class="categories__item categories__mobile">Мобильное</span>
    <span class="categories__item categories__desktop">Десктопное</span>
    <span class="categories__item categories__other">Прочее</span>
  </div>
  <div class="dividing-line"></div>
  <div class="projects-section-container">
    <full-projects></full-projects>
  </div>
  <a class="projects-section__see-more-button button-style" href="#">Показать больше</a>
</section>