<div class="full-project-container" ng-if="status">
  <h1 class="full-project__name" ng-bind="project.Name"></h1>

  <div class="full-project-wrapper">
    <div class="full-project__preview"
         style="background: #000 url({{project.LandingImage.SmallPhotoUri || DEFAULT_PROJECT_LANDSCAPE}}) no-repeat center; background-size: cover;">
    <span class="preview__project-status" ng-switch="project.ProjectStatus">
          <span class="status__value" style="background: #795548;" ng-switch-when="0">Запланирован</span>
          <span class="status__value" style="background: #1e88e5;" ng-switch-when="1">В процессе</span>
          <span class="status__value" style="background: #607d8b;" ng-switch-when="2">Заморожен</span>
          <span class="status__value" style="background: #009688;" ng-switch-default>Завершен</span>
    </span>
    </div>
    <div class="full-project__info">
      <div class="info__subheading">Тип проекта:</div>
      <div class="info__project-types">
      <span class="project-types__type" ng-repeat="projectType in projectTypes" ng-switch="projectType">
          <span ng-switch-when="0">Веб</span>
          <span ng-switch-when="1">Мобильное</span>
          <span ng-switch-when="2">Десктопное</span>
          <span ng-switch-when="3">Игра</span>
          <span ng-switch-default>Прочее</span>
      </span>
      </div>
      <div class="info__subheading">Описание:</div>
      <div class="info__description" ng-bind="project.Info"></div>
      <div class="info__subheading">Разработчики:</div>
      <div class="info__developers" ng-repeat="developer in project.ProjectMemberships">
        <a ng-href="{{'/developers/'+developer.DeveloperId}}"
           ng-bind="developer.FirstName + ' ' + developer.LastName"></a>
        <span ng-bind=" '(' + developer.Role + ')' "></span>
      </div>

      <div class="info__if-no-developers" style="color:#a4a4a4" ng-bind="replacementText"></div>
      <div class="info__subheading" ng-if="userRole === 0 || userRole === 1">Уровень доступа:</div>
      <div class="info__access" ng-if="userRole === 0 || userRole === 1" ng-switch="project.AccessLevel">
        <span ng-switch-when="1">Закрытый</span>
        <span ng-switch-default>Открытый</span>
      </div>
      <div class="info__links" ng-if="userRole === 0 || userRole === 1">Проект в <a
        href="{{project.ProjectManagementSystemUri}}">Redmine</a> и <a
        href="{{project.VersionControlSystemUri}}">Gitlab</a>
      </div>
      <div ng-if="userRole === 0 || userRole === 1">
        <form name="projectMembershipForm">
          <input class="info__developer-role-input" type="text" required placeholder="Роль в проекте"
                 ng-model="$parent.$parent.projectDeveloperRole" ng-if="checkMembership() === false">
          <button class="info__membership-button" ng-disabled="projectMembershipForm.$invalid"
                  ng-if="checkMembership() === false" ng-click="joinToProject()">Присоединиться
          </button>
          <button class="info__membership-button" ng-if="checkMembership() === true" ng-click="escapeFromProject()">
            Покинуть проект
          </button>
        </form>
      </div>
    </div>
  </div>
  <h1 class="full-project__headline headline" ng-if="projectIssues.length">Задачи на проекте</h1>

  <div class="dividing-line" ng-if="projectIssues.length"></div>
  <div class="full-project-issues">
    <span class="project-issues__issue" ng-repeat="projectIssue in projectIssues" ng-bind="projectIssue.Header"></span>
  </div>
  <h1 class="full-project__headline headline" ng-if="project.Screenshots.length">Скриншоты</h1>

  <div class="dividing-line" ng-if="project.Screenshots.length"></div>
  <div class='gallery'>
    <div class="gallery__item" ng-repeat="screenshot in project.Screenshots"
         style='background: url({{screenshot.SmallPhotoUri}}) no-repeat center;'
         ng-click="openViewerDialog($index)"></div>
  </div>
  <script type="text/ng-template" id="viewer">
    <div class="viewer__img"
         style='background: rgba(0, 0, 0, .8) url({{openedScreenshotUrl}}) no-repeat center;  background-size: contain;'>
      <div class="viewer__close-button" ng-click="closeThisDialog('.viewer__button')"></div>
    </div>
  </script>
</div>

<div class="error-page" ng-if="status === false">
  <h1 class="headline error-page__heading">404 Not found</h1>
  <div class="dividing-line"></div>
  <div>К сожалению, проект не найден или его страница скрыта администрацией.</div>
</div>