<!--<form class="profile-settings">

    <div class="headline">Редактирование профиля</div>
    <div class="dividing-line"></div>

<div class="profile-settings__top-part">

  <div class="profile-settings__general">
    <label>Институт: <br/><input type="text"></label>
    <label>Кафедра: <br/><input type="text"></label>
    <label>Специальность: <br/><input type="text"></label>
    <label>Год поступления: <br/><input type="text"></label>
    <label>Профиль ВКонтакте: <br/><input type="url" pattern="^(?:https?:\/\/)?(?:www\\.)?vk\\.com\/[^\/\s]+\/?$"></label>
    <label>Номер телефона: <br/><input type="number"></label>
  </div>

  <div class="profile-settings__avatar-wrapper">
    <div class="profile-settings__avatar-img"></div>
  </div>

</div>
  <div class="profile-settings__heading">Изменение пароля</div>
  <div class="dividing-line"></div>

  <div class="profile-settings__password">
    <label>Новый пароль: <input type="text"></label>
    <label>Повторите пароль: <input type="text"></label>
  </div>

  <div class="profile-settings__heading">Настройка оповещений</div>
  <div class="dividing-line"></div>

  <div class="profile-settings__notifications">
    <div class="profile-settings_notifications__heading">Присылать на почту оповещения:</div>
    <label><input type="checkbox">От администрации</label>
    <label><input type="checkbox">О появлении новой задачи на проектах</label>
    <label><input type="checkbox">О появлении/уходе разработчика на проекте</label>
    <label><input type="checkbox">О подтвержденной регистрации нового разработчика</label>
  </div>

</form>-->

<div class="contact-content">
    <div class="contact-heading">Связаться с нами</div>
    <form class="contact-form" name="ContactForm" ng-controller="FormValidationCtrl"
          ng-submit="Request(ContactForm)">
        <label><input type="text" ng-model="data.ClientName" name="name" autocomplete="on" placeholder="Ваше имя"
                      required></label>
        <label><input type="email" ng-model="data.ClientEmail" name="email"
                      pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$" autocomplete="on"
                      placeholder="Ваше e-mail адрес" required></label>
        <label><input type="text" ng-model="data.MessageTopic" name="topic" placeholder="Тема сообщения"
                      required></label>
        <label><textarea name="message" ng-model="data.MessageBody" placeholder="Текст сообщения"
                         required></textarea></label>
        <label class="submit"><input type="submit" value="">

            <div class="tick"></div>
        </label>
    </form>
</div>
