<div class="contact-content">
  <div class="contact-heading">Связаться с нами</div>
  <form class="contact-form" name="ContactForm" ng-submit="Request()">
    <label>
      <input type="text" class="validate-field" ng-model="data.ClientName" name="name" autocomplete="on" placeholder="Ваше имя"
             required>
    </label>
    <label>
      <input type="email" class="validate-field" ng-model="data.ClientEmail" name="email"
             pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$" autocomplete="on"
             placeholder="Ваше e-mail адрес" required>
    </label>
    <label>
      <input type="text" class="validate-field" ng-model="data.MessageTopic" name="topic" placeholder="Тема сообщения"
             required>
    </label>
    <label>
      <textarea name="message" class="validate-field" ng-model="data.MessageBody" placeholder="Текст сообщения"
                required></textarea>
    </label>
    <label class="submit" ng-class="{'submit--success': isSuccess}">
      <input type="submit" ng-if="!isSuccess" value="">

      <div class="success" ng-if="isSuccess"></div>
    </label>
  </form>
</div>
