<div class="notifications-page">
  <div class="notifications-page__new-notifications">
    <div class="notifications__header">Новые оповещения</div>
    <div class="notifications__notification">
      <div class="notification__date-and-type">
        <div class="notification__date"></div>
        <div class="notification__type-icon"></div>
      </div>
      <div class="notification__information"></div>
    </div>
  </div>
  <div class="notifications-page__old-notifications">
    <div class="notifications__header">Прочитанные оповещения</div>
    <div class="notifications__notification">
      <div class="notification__date-and-type">
        <div class="notification__date"></div>
        <div class="notification__type-icon"></div>
      </div>
      <div class="notification__information"></div>
    </div>
  </div>
</div>