.adding-project__select {
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.adding-project__textarea {
  height: 185px;
  resize: none;
  padding: 10px;
}

.adding-project__search {
  position: relative;
  padding: 0;
}

.adding-project__developers > div {
  display: inline-block;
  position: relative;
}

.adding-project__developer-wrap:last-child {
  margin-bottom: 10px;
}

.adding-project__developer {
  display: inline-block;
  padding: 10px 35px 10px 10px;
  border: 1px solid #ffffff;
  background-color: #717171;
  color: #ffffff;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
}

.adding-project__developer:hover {
  background-color: #2980b9;
}

.adding-project__developer__delete {
  background: url("../src/assets/close-button-white.svg") no-repeat center;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.adding-project__developer__delete:hover {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.adding-project__avatar-img {
  background-size: cover;
  background-color: #000000;
}

.adding-project__upload-wrap {
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
}

.adding-project__upload-box-wrap {
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-wrap: wrap;
}

.adding-project__upload-file__adding {
  color: #aaaaaa;
  width: 100%;
  height: 100%;
  font-size: 84px;
  cursor: default;
}

.adding-project__upload-file__wrap {
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  border: 2px dashed #9a9a9a !important;
}

.adding-project__upload-box {
  position: relative;
  width: 109px;
  height: 109px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 2px solid #0072bc;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.adding-project__uploaded-file__image-wrap {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.adding-project__file-close,
.adding-project__big-image__file-close {
  position: absolute;
  opacity: 0.7;
  background: rgba(0, 0, 0, 0.75) url(../src/assets/close-button-white.svg)
    no-repeat center;
  background-size: contain;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.adding-project__file-close:hover,
.adding-project__big-image__file-close:hover {
  opacity: 1;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.adding-project__file-close {
  width: 18px;
  height: 18px;
  top: 3px;
  right: 3px;
}

.adding-project__big-image__file-close {
  width: 25px;
  height: 25px;
}

.adding-project__uploading-wrap {
  display: table;
  height: 100%;
  width: 100%;
}

.adding-project__uploading-percent {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 109px;
}

.adding-project__uploading__bar-wrap {
  position: absolute;
  margin-top: -5px;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 1;
}

.adding-project__uploading__bar {
  height: 5px;
  background-color: #0072bc;
}

.adding-project__type {
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
}

.adding-project__categories__item {
  display: inline-block;
  padding: 10px;
  margin: 4px;
  border: 1px solid #ffffff;
  background-color: #717171;
  color: white;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
}
