<div class="sign-up-container">
  <h1 class="sign-up__headline headline">Стать разработчиком</h1>
  <form class="sign-up-form">
    <div class="sign-up-form__section">
      <div class="section__step-number">1</div>
      <input type="text" placeholder="Имя" ng-model="newDeveloper.FirstName" required autofocus/>
      <input type="text" placeholder="Фамилия" ng-model="newDeveloper.LastName" required/>
    </div>
    <div class="sign-up-form__section">
      <div class="section__step-number">2</div>
      <select ng-model="newDeveloper.InstituteName" required>
        <option value="" disabled selected>Институт</option>
        <option value="ИТАСУ" ng-selected="newDeveloper.InstituteName=='ИТАСУ'">ИТАСУ</option>
        <option value="ЭкоТех" ng-selected="newDeveloper.InstituteName=='ЭкоТех'">ЭкоТех</option>
        <option value="ИНМиН" ng-selected="newDeveloper.InstituteName=='ИНМиН'">ИНМиН</option>
        <option value="ЭУПП" ng-selected="newDeveloper.InstituteName=='ЭУПП'">ЭУПП</option>
        <option value="ИБС" ng-selected="newDeveloper.InstituteName=='ИБС'">ИБС</option>
        <option value="ИБО" ng-selected="newDeveloper.InstituteName=='ИБО'">ИБО</option>
        <option value="Горный" ng-selected="newDeveloper.InstituteName=='Горный'">Горный</option>
      </select>
      <input type="text" placeholder="Кафедра" ng-model="newDeveloper.Department" required/>
      <input type="text" placeholder="Специальность" ng-model="newDeveloper.StudyingProfile" required/>
      <input type="number" placeholder="Год поступления" ng-model="newDeveloper.AccessionYear" required/>
    </div>
    <div class="sign-up-form__section">
      <div class="section__step-number">3</div>
      <input type="url" placeholder="Профиль Вконтакте" ng-model="newDeveloper.VkProfileUri" required/>
      <input type="number" placeholder="Номер телефона" ng-model="newDeveloper.PhoneNumber" required/>
      <input type="email" placeholder="E-mail" ng-model="newDeveloper.Email" required/>
      <input type="password" placeholder="Пароль" ng-model="newDeveloper.Password" required/>
      <input type="password" placeholder="Повторите пароль" ng-model="repeatPassword" required/>
    </div>
  </form>
  <div class="sign-up__button" ng-click="register()">Отправить заявку</div>
  <div style="margin: 0 auto 30px auto;" ng-switch="isSuccess">
    <p style="color: #009688;" ng-switch-when="true">
      Поздравляем! Ваша заявка принята, ожидайте e-mail сообщения о подтвреждении.
    </p>
    <p style="color: #2980b9;" ng-switch-when="false">
      Форма заполнена неверно! Проверьте введенные данные.
    </p>
  </div>
</div>