<div class="sign-up-container">
  <h1 class="sign-up__headline headline">Стать разработчиком</h1>

  <form class="sign-up-form" name="signForm">
    <div class="sign-up-form__section">
      <div class="section__step-number">1</div>
      <input type="text" class="validate-field" placeholder="Имя" pattern="[а-яА-Я- _\.]{1,30}$"
             ng-model="newDeveloper.FirstName" ng-maxlength="30" required autofocus/>
      <input type="text" class="validate-field" placeholder="Фамилия" pattern="[а-яА-Я- _\.]{1,30}$"
             ng-model="newDeveloper.LastName" ng-maxlength="30" required/>
    </div>
    <div class="sign-up-form__section">
      <div class="section__step-number">2</div>
      <select ng-model="newDeveloper.InstituteName" required>
        <option value="" disabled selected>Институт</option>
        <option value="ИТАСУ" ng-selected="newDeveloper.InstituteName=='ИТАСУ'">ИТАСУ</option>
        <option value="ЭкоТех" ng-selected="newDeveloper.InstituteName=='ЭкоТех'">ЭкоТех</option>
        <option value="ИНМиН" ng-selected="newDeveloper.InstituteName=='ИНМиН'">ИНМиН</option>
        <option value="ЭУПП" ng-selected="newDeveloper.InstituteName=='ЭУПП'">ЭУПП</option>
        <option value="ИБС" ng-selected="newDeveloper.InstituteName=='ИБС'">ИБС</option>
        <option value="ИБО" ng-selected="newDeveloper.InstituteName=='ИБО'">ИБО</option>
        <option value="Горный" ng-selected="newDeveloper.InstituteName=='Горный'">Горный</option>
      </select>
      <input type="text" class="validate-field" placeholder="Кафедра" pattern="[а-яА-Я- _\.]{1,70}$"
             ng-model="newDeveloper.Department" ng-maxlength="70" required/>
      <input type="text" class="validate-field" placeholder="Специальность" pattern="[а-яА-Я- _\.]{1,50}$"
             ng-model="newDeveloper.StudyingProfile" ng-maxlength="50" required/>
      <input type="number" class="validate-field" placeholder="Год поступления" ng-model="newDeveloper.AccessionYear"
             pattern="[1-9]\d*" ng-minlength="4" ng-maxlength="4" required/>
    </div>
    <div class="sign-up-form__section">
      <div class="section__step-number">3</div>
      <input type="url" name="vkUrl" class="validate-field" placeholder="Профиль Вконтакте"
             ng-model="newDeveloper.VkProfileUri" ng-maxlength="30" required/>

      <div class="help-message-input" ng-show="signForm.vkUrl.$error.url">Введите адрес в формате
                                                                          http://vk.com/[username]
      </div>
      <input type="number" class="validate-field" placeholder="Номер телефона" ng-model="newDeveloper.PhoneNumber"
             pattern="[1-9]\d*" ng-minlength="11" ng-maxlength="12" required/>
      <input type="email" class="validate-field" placeholder="E-mail"
             pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$"
             ng-model="newDeveloper.Email" ng-maxlength="30" required/>
      <input type="password" name="password" class="validate-field" placeholder="Пароль"
             pattern="^(?=^.{8,30}$)[a-zA-Z0-9]+$" ng-minlength="8" ng-maxlength="30" ng-model="newDeveloper.Password"
             required/>

      <div class="help-message-input" ng-show="signForm.password.$error.pattern">Пароль должен быть длинной не менее 8
                                                                                 символов и содержать латинские буквы
                                                                                 или цифры.
      </div>
      <input type="password" class="validate-field" placeholder="Повторите пароль" pattern="^(?=^.{8,30}$)[a-zA-Z0-9]+$"
             ng-minlength="8" ng-maxlength="30" ng-model="repeatedPassword" required/>

      <div class="help-message-input" ng-show="repeatedPassword !== newDeveloper.Password">Пароли не совпадают.</div>
    </div>
  </form>
  <div style="margin: 0 auto 30px auto;" >
    <p class="help-message-input" ng-if="currentStates.isSuccess">
      Поздравляем! Ваша заявка принята, ожидайте e-mail сообщения о подтвреждении.
    </p>
    <p class="help-message-input" ng-if="currentStates.isRegisteredEmail">
      Пользователь с таким e-mail уже зарегистрирован!
    </p>
    <p class="help-message-input" ng-if="currentStates.isFailed">
      Ошибка регистрации! Проверьте введенные данные.
    </p>
  </div>
  <button class="sign-up__button" ng-disabled="signForm.$invalid" ng-click="signUp()">Отправить заявку</button>

</div>