<div class="sign-up-container">
  <h1 class="sign-up__headline headline">Стать разработчиком</h1>
  <form class="sign-up-form">
    <div class="sign-up-form__section">
      <div class="section__step-number">1</div>
      <input type="text" placeholder="Имя"/>
      <input type="text" placeholder="Фамилия"/>
    </div>
    <div class="sign-up-form__section">
      <div class="section__step-number">2</div>
      <select placeholder="Институт">
        <option value="" disabled selected>Институт</option>
        <option value="ИТАСУ">ИТАСУ</option>
        <option value="ЭкоТех">ЭкоТех</option>
        <option value="ИНМиН">ИНМиН</option>
        <option value="ЭУПП">ЭУПП</option>
        <option value="ИБС">ИБС</option>
        <option value="ИБО">ИБО</option>
        <option value="Горный">Горный</option>
      </select>
      <input type="text" placeholder="Кафедра"/>
      <input type="text" placeholder="Специальность"/>
      <input type="number" placeholder="Год поступления"/>
    </div>
    <div class="sign-up-form__section">
      <div class="section__step-number">3</div>
      <input type="tel" placeholder="Номер телефона"/>
      <input type="email" placeholder="E-mail"/>
      <input type="password" placeholder="Пароль"/>
      <input type="password" placeholder="Повторите пароль"/>
    </div>
  </form>
  <div class="sign-up__button">Отправить заявку</div>
</div>