<div class="order-content">
  <div class="order-wrap-form">
    <div class="order-heading">Заказать работу</div>
    <form method="post" class="order-form" name="OrderForm" ng-submit="Request()">
      <label><input type="text" class="validate-field" ng-model="data.CustomerName" name="name" autocomplete="on" placeholder="Ваши ФИО"
                    required></label>
      <label><input type="email" class="validate-field" ng-model="data.Email" name="email"
                    pattern="^([a-zA-Z0-9_-]+\.)*[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)*\.[a-z]{2,6}$"
                    autocomplete="on"
                    placeholder="Ваш e-mail" required></label>
      <label><input type="text" class="validate-field" ng-model="data.Header" name="projectName" placeholder="Название проекта"
                    required></label>
      <label><select class="validate-field" name="ProjectType" ng-model="data.ProjectType" required>
        <option value='' disabled selected>Выбрать тип проекта</option>
        <option value='0'>Веб-приложение</option>
        <option value='1'>Мобильное приложение</option>
        <option value='2'>Десктопное приложение</option>
        <option value='3'>Игра</option>
        <option value='4'>Другое</option>
      </select></label>
      <label><input class="validate-field" type="{{deadlineType}}" ng-model="data.DeadLine" name="deadline" placeholder="Срок выполнения"
                    ng-focus="toggleDeadlineType()" ng-blur="toggleDeadlineType()" required></label>
      <label><textarea class="validate-field" name="description" ng-model="data.Description" placeholder="Описание проекта"
                       required></textarea></label>

      <div class="order-upload__heading">Прикрепить файлы (макс. 3):</div>

      <div class="upload-box-wrap order-upload-wrap">

        <div class="upload-box order-uploaded-file" ng-repeat="file in files">
          <div class="order-uploaded-file__name-wrap">
            <div class="order-uploaded-file__name" ng-bind="file.name"></div>
            <div class="order-file-close" ng-click="deleteFile(file, $index)"></div>
          </div>
        </div>

        <div class="upload-box order-upload-file__wrap" ng-if="files.length < 3">
          <div ng-switch="currentUploadState">

            <div ng-switch-when="waiting" upload-file dropzone-file>
              <div class="order-upload-file__adding">+</div>
            </div>

            <div ng-switch-when="uploading">
              <div class="order-uploading-wrap">
                <div class="order-uploading-percent" ng-bind="currentPercent + '%'"></div>
                <div class="order-uploading__bar-wrap">
                  <div class="order-uploading__bar" ng-attr-style='width: {{currentPercent}}%'></div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="order-accordion">
        <div class="order-accordion-heading">Условия заказа</div>

        <div class="dividing-line"></div>

        <div class="span-wrap" data-slide-toggle="#firstMobilePoint"><span>Курсовые работы</span></div>
        <p id="firstMobilePoint">Лига Разработчиков не занимается выполнением курсовых и дипломных работ. Причиной этому является отсутствие в
          подобной деятельности командной составляющей и образовательной ценности. Тем не менее, вы можете просмотреть
          портфолио наших разработчиков и лично обратиться за помощью к кому-либо из них.</p>

        <div class="span-wrap" data-slide-toggle="#secondMobilePoint"><span>Рассмотрение заказа</span></div>
        <p id="secondMobilePoint" style="display: none">После нажатия кнопки "Отправить" заказ отправляется на рассмотрение менеджеру организации. Менеджер
          постарается
          подобрать для заказа разработчиков и его успех в этом деле напрямую зависит от условий, которые вы ставите. Вы
          будете оповещены, когда работа над вашим заказом начнётся.</p>

        <div class="span-wrap" data-slide-toggle="#thirdMobilePoint"><span>Оплата</span></div>
        <p id="thirdMobilePoint" style="display: none">Вопросы оплаты обсуждаются индивидуально с менеджером. Заказ может быть выполнен бесплатно, если он имеет
          какую-либо академическую ценность, не требует очень быстрого выполнения и не затрагивает специфических
          предметных
          областей.</p>

        <div class="span-wrap" data-slide-toggle="#fourthMobilePoint"><span>Гарантии</span></div>
        <p id="fourthMobilePoint" style="display: none">Члены нашей организации присутствуют в ней добровольно в образовательных целях, они не связаны никакими
          трудовыми
          договорами, поэтому выполнение работы не гарантируется. В случае невыполнения заказа в срок, вам будут
          предложены
          альтернативы, но руководство Лиги стремится снизить число таких ситуаций.</p>
      </div>


      <label class="submit" ng-class="{'submit--success': isSuccess}">
        <input type="submit" ng-if="!isSuccess" value="">

        <div class="success" ng-if="isSuccess"></div>
      </label>
    </form>

  </div>

  <div class="order-accordion">
    <div class="order-accordion-heading">Условия заказа</div>

    <div class="dividing-line"></div>

    <div class="span-wrap" data-slide-toggle="#firstPoint"><span>Курсовые работы</span></div>
    <p id="firstPoint">Лига Разработчиков не занимается выполнением курсовых и дипломных работ. Причиной этому является отсутствие в
      подобной деятельности командной составляющей и образовательной ценности. Тем не менее, вы можете просмотреть
      портфолио наших разработчиков и лично обратиться за помощью к кому-либо из них.</p>

    <div class="span-wrap" data-slide-toggle="#secondPoint"><span>Рассмотрение заказа</span></div>
    <p id="secondPoint" style="display: none">После нажатия кнопки "Отправить" заказ отправляется на рассмотрение менеджеру организации. Менеджер
      постарается
      подобрать для заказа разработчиков и его успех в этом деле напрямую зависит от условий, которые вы ставите. Вы
      будете оповещены, когда работа над вашим заказом начнётся.</p>

    <div class="span-wrap" data-slide-toggle="#thirdPoint"><span>Оплата</span></div>
    <p id="thirdPoint" style="display: none">Вопросы оплаты обсуждаются индивидуально с менеджером. Заказ может быть выполнен бесплатно, если он имеет
      какую-либо академическую ценность, не требует очень быстрого выполнения и не затрагивает специфических
      предметных
      областей.</p>

    <div class="span-wrap" data-slide-toggle="#fourthPoint"><span>Гарантии</span></div>
    <p id="fourthPoint" style="display: none">Члены нашей организации присутствуют в ней добровольно в образовательных целях, они не связаны никакими
      трудовыми
      договорами, поэтому выполнение работы не гарантируется. В случае невыполнения заказа в срок, вам будут
      предложены
      альтернативы, но руководство Лиги стремится снизить число таких ситуаций.</p>

  </div>
</div>