<div class="password-recovery__wrapper">

  <h1 class="developers-page__headline headline">Восстановление пароля</h1>

  <div class="dividing-line"></div>

  <form name="passwordRecoveryForm" class="password-recovery__container">
    <input type="password" name="newPassword" placeholder="Новый пароль" ng-model="data.NewPassword"
           pattern="^(?=^.{8,30}$)[a-zA-Z0-9]+$"
           ng-class="{'validate-field': data.NewPassword||data.NewPassword==undefined}"
           ng-minlength="8" ng-maxlength="30" ng-required="passwordRecoveryForm.newPassword.$error.pattern||data.NewPassword||repeatedPassword"/>

    <p class="help-message-input profile-settings__help-message__password"
       ng-show="passwordRecoveryForm.newPassword.$error.pattern">
      Пароль должен быть длинной не менее 8 символов и не более 30, а также содержать только цифры или латинские буквы.
    </p>

    <input type="password" placeholder="Повторите пароль" ng-model="repeatedPassword"
           pattern="^(?=^.{8,30}$)[a-zA-Z0-9]+$"
           ng-class="{'validate-field': repeatedPassword||repeatedPassword==undefined}"
           ng-minlength="8" ng-maxlength="30" ng-required="profileSettingsForm.repeatedPassword.$error.pattern||data.NewPassword||repeatedPassword"/>

    <div class="help-message-input"
         ng-show="repeatedPassword!=data.NewPassword && data.NewPassword && repeatedPassword">
      Пароли не совпадают.
    </div>

    <button ng-disabled="passwordRecoveryForm.$invalid || (!repeatedPassword && !data.NewPassword)" ng-click="recoverPassword()">Восстановить</button>

    <p ng-if="isSuccess" class="help-message-input">
      Пароль успешно восстановлен.
    </p>

    <p ng-if="isSuccess === false" class="help-message-input">
      Процесс восстановления пароля прошёл с ошибкой.
    </p>
  </form>
</div>