<div class="wrapper about-wrapper">
  <div class="about-heading">
    <div class="about-logo"></div>
    <div class="dividing-line"></div>
  </div>
  <div class="about-wrap-content">
    <div class="about-content">
      <div class="about-points">
        <div class="about-numbers left-number"><span>1</span></div>
        <div class="about-text first-text">
          <p class="heading">О нас</p>

          <p class="text">
            Мы — студенты НИТУ МИСиС, выбравшие IT в качестве сферы профессионального развития.
            В Лиге Разработчиков мы работаем над программными проектами в таких сферах как: веб,
            мобильные платформы, десктоп, серверные приложения, игры. Мы не ограничиваем себя и
            не стоим на месте, постоянно развиваемся и ищем новые сферы применения своих способностей.
          </p>
        </div>
      </div>
      <div class="lines">
        <div class="line-1-2 block-1"></div>
        <div class="line-1-2 block-2"></div>
      </div>
      <div class="about-points">
        <div class="about-numbers right-number"><span>2</span></div>

        <div class="about-text left-text">
          <p class="heading">Цель</p>

          <p class="text">
            Цель организации — собрать всех мотивированных и целеустремлённых студентов для того,
            чтобы вырастить из них IT специалистов. При поддержке Лиги наши студенты работают над
            реальными или приближенными к реальности проектами разного масштаба, учатся работать
            в команде и доводить своё дело до конца. Мы проходим путь, который должен пройти
            каждый разработчик и к концу обучения в институте мы становимся опытными, готовыми
            к работе специалистами, которых так не хватает на рынке труда.
          </p>
        </div>
      </div>
      <div class="lines">
        <div class="line-2-3 block-1"></div>
        <div class="line-2-3 block-2"></div>
      </div>
      <div class="about-points">
        <div class="about-numbers left-number"><span>3</span></div>
        <div class="about-text right-text">
          <p class="heading">Кто это придумал?</p>

          <p class="text">
            Организация была основана в сентябре 2014 года студентом института информационных технологий
            и автоматизированных систем управления Маргеловым Виталием. При минимальной поддержке
            от руководства института организация собрала более ста человек.
          </p>
        </div>
      </div>
      <div class="lines">
        <div class="line-3-4 block-1"></div>
        <div class="line-3-4 block-2"></div>
      </div>
      <div class="about-points">
        <div class="about-numbers right-number"><span>4</span></div>
        <div class="about-text left-text">
          <p class="heading">К кому обращаться для сотрудничества?</p>

          <p class="text">
            Лига Разработчиков ищет неравнодушных людей, готовых вступить в её ряды или открытых для
            сотрудничества
            в данной сфере. Для того, чтобы связаться с руководством, воспользуйтесь
            <a href="order.html">формой обратной связи</a>,
            для вступления в ряды разработчиков -
            <a href="signup.html">зарегистрируйтесь на сайте</a>.
          </p>
        </div>
      </div>
      <div class="lines">
        <div class="line-4-5 block-1"></div>
        <div class="line-4-5 block-2"></div>
      </div>
      <div class="about-points">
        <div class="about-numbers left-number"><span>5</span></div>
        <div class="about-text right-text">
          <p class="heading">Обучение и внутривузовская деятельность</p>

          <p class="text">
            Помимо основной деятельности, связанной с работой над проектами, Лига Разработчиков
            организовывает сессионные образовательные мероприятия. Для чтения предметных лекций
            приглашаются студенты, выпускники и преподаватели НИТУ МИСиС. Также Лига всячески
            поддерживает любую внутривузовскую активность, касающуюся IT, и осуществляет
            информационную и агитационную поддержку для любых проявлений подобной активности.
          </p>
        </div>
      </div>
      <div class="lines">
        <div class="line-1-2 block-1"></div>
        <div class="line-1-2 block-2"></div>
      </div>
      <div class="about-points">
        <div class="about-numbers right-number"><span>6</span></div>
        <div class="about-text last-text">
          <p class="heading">Как нас найти?</p>

          <p class="text">
            Наш офис находится в Лингвистическом корпусе Горного Института, аудитория Г-588.
            Пройдя через вход в корпус, пройдите турникет, поверните направо и снова направо.
            По лестнице или на лифте поднимитесь на пятый этаж. Выйдя с лестничной клетки пройдите по
            коридору налево. Идите прямо до тех пор, пока не обнаружите с правой стороны коридора дверь
            с номером Г-588. Вы на месте!
          </p>
        </div>
      </div>
      <div class="about-yandex-map">
        <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=4Yg6W87x5Mr-mGZLObfvYf8IoDh7KTsm&width=100%&height=450&lang=ru_RU&sourceType=constructor"></script>
      </div>
    </div>
  </div>
</div>