<div>
  <section class="welcome-section">
    <div class="welcome-section-container">
      <h1 class="welcome-section__headline headline">Кто мы?</h1>

      <p class="welcome-section__paragraph">Мы студенческая IT-организация, находящаяся
        в стенах Национального исследовательского технологического университета “МИСиС”.</p>

      <h1 class="welcome-section__headline headline">Что мы делаем?</h1>

      <p class="welcome-section__paragraph">Программируем на заказ, создаём web-сайты,
        Android, iOS и desktop приложения, обучаем студентов.</p>

      <a class="welcome-section__order-button button-style button-style--light" ui-sref="order">Сделать заказ</a>
    </div>
  </section>
  <section class="projects-section">
    <h1 class="projects-section__headline headline">Наши проекты</h1>

    <div class="projects-section-container">
      <random-projects></random-projects>
    </div>
    <a class="projects-section__see-all-button button-style" ui-sref="projects.index">Смотреть все</a>

    <div class="dividing-line"></div>
  </section>
  <section class="developers-section">
    <h1 class="developers-section__headline headline">Наши разработчики</h1>
    <random-developers></random-developers>
    <a class="developers-section__see-all-button button-style" ui-sref="developers.index">Смотреть всех</a>
  </section>
</div>
